    
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">MyCandyShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/products">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/cart">MI CARRITO</a>
                    </li>
                </ul>
            </div>
            <button type="button" class="btn btn-outline-info my-1"><a href="/home/logout">CERRAR SESIÓN</a></button>
        </div>
    </nav>
    <div class="col-10 border border-info rounded mx-auto my-2">
            <h1>Bienvenido/a {{username}}</h1>
    </div> 
    <div class="col-10 mx-auto">
        {{#if listExist}}
            <h4>NO SE GUARDARON PRODUCTOS.</h4>
        {{else}}
            <div class="col-12 d-flex flex-wrap mx-auto">
                {{#each products}}
                    <div class="card col-3 mx-auto" style="width: 8rem;">
                        <img src="{{this.img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <ul>
                                <li class="list-group-item">{{this.category}}</li>
                                <li class="list-group-item">{{this.id}}</li>
                                <li class="list-group-item">${{this.price}}</li>
                            </ul>  
                        </div>  
                        <div class="card-body">
                            <a href="/detail/{{this.id}}" class="card-link">VER DETALLE</a>
                            <button type="submit" id="{{this.id}}" class="btnAdd btn btn-outline-info"><a href="/cart/{{this.id}}">AÑADIR</a></button>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
    <div class="col-10 d-flex flex-nowrap justify-content-around mx-auto">
        <div class="col-6 border border-info rounded m-2 p-3">
            <h3 class="text-info">INGRESAR PRODUCTOS:</h3>
            <form action="/home" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Producto:</label>
                    <input id="name" name="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Categoria:</label>
                    <input id="category" name="category" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Precio:</label>
                    <input id="price" name="price" class="form-control">
                </div>    
                <div class="mb-3">
                    <label for="img" class="form-label">Imagen:</label>
                    <input type="url" id="img" name="img" class="form-control">
                </div>        
                <button type="submit" id="save" class="btn btn-outline-info">GUARDAR</button>
                <button type="button" class="btn btn-outline-info"><a href="/products">IR A LISTADO</a></button>
            </form>
        </div> 
        <div class="col-6 border border-info rounded m-2 p-3">
            <h2 class="text-info my-1 mx-auto">Chat Online</h2>
            <form class="m-1">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="firstName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="firstName" required>
                    <label for="lastName" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="lastName" required>
                    <label for="age" class="form-label">Edad</label>
                    <input type="number" class="form-control" id="age" required>
                    <label for="alias" class="form-label">Alias</label>
                    <input type="text" class="form-control" id="alias" required>
                </div>
                <div class="mb-3">
                    <label for="avatar" class="form-label">Avatar URL</label>
                    <input type="text" class="form-control" id="avatar" required>
                </div>
                <div class="mb-3">
                    <label for="text" class="form-label">Escribe tu mensaje:</label>
                    <input id="text" name="text" class="form-control">
                </div>
                <button type="submit" id="send" class="btn btn-outline-info">ENVIAR</button>
                <button type="button" class="btn btn-outline-info"><a href="/messages">IR Al CHAT</a></button>
            </form>
        </div>
    </div>
    
